<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buy Ferrari 296 GTB</title>
  <style>
    /* Add your custom styles here */
    input {
      width: 200px;
      margin-bottom: 2px;
    }
    label {width: 200px;
      margin-bottom: 2px;}
    select {width: 206.5px;
      margin-bottom: 2px;}



    * {font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;}
  </style>
</head>
<body>

<div id="navbar" style="height: 10%; display: flex; justify-content: space-between; align-items: center; border-radius: 10px;">
  <div id="logo-container" style="width: 100%; padding-top: 10px; padding-left: 10px; background: white;">
    <a href="car-copy.html"><img style="margin-top: 10px; width: 35%; margin: 0;" src="blombiler.png"></a>
  </div>
</div>
<a href="login.html"><div style="background: black; display: flex; justify-content: center; align-items: center; position: absolute; width: 100px; height: 20px; top: 0; right: 0; border: 2px solid black; border-radius: 5px;"><span style="background: black; color: white; ">Log Out</span></div></a>
<a href="car-copy.html">
  <div style="background: black; display: flex; justify-content: center; align-items: center; position: absolute; width: 100px; height: 20px; top: 0px; right: 120px; border: 2px solid black; border-radius: 5px;">
    <span style="background: black; color: white;">Go Back</span>
  </div>
</a>


<h1>Buy Ferrari 296 GTB</h1>
<form>

  <div style="display: flex; justify-content: space-between; width: 400px;">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br>
  </div>

  <div style="display: flex; justify-content: space-between; width: 400px;">
    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required><br>
  </div>


  <div style="display: flex; justify-content: space-between; width: 400px;">
    <label for="phone">Phone:</label>
    <input type="tel" id="phone" name="phone" pattern="[0-9]{10}" required><br>
  </div>

  <div style="display: flex; justify-content: space-between; width: 400px;">
    <label for="address">Address:</label>
    <input type="text" id="address" name="address" required><br>
  </div>

  <div style="display: flex; justify-content: space-between; width: 400px;">
    <label for="city">City:</label>
    <input type="text" id="city" name="city" required><br>
  </div>

  <div style="display: flex; justify-content: space-between; width: 400px;">
    <label for="zip">Zip code:</label>
    <input type="text" id="zip" name="zip" required><br>
  </div>


  <div style="display: flex; justify-content: space-between; width: 400px;">
    <label for="country">Country:</label>
    <input type="text" id="country" name="country" required><br>
  </div>

  <div style="display: flex; justify-content: space-between; width: 400px;">
    <label for="payment-method">Payment method:</label>
    <select id="payment-method" name="payment-method" required>
      <option value="credit-card">Credit card</option>
      <option value="bank-transfer">Bank transfer</option>
      <option value="paypal">Paypal</option>
    </select><br>
  </div>

  <div style="display: flex; justify-content: space-between; width: 400px;">
    <label for="card-number">Credit card number:</label>
    <input type="text" id="card-number" name="card-number" required><br>
  </div>

  <div style="display: flex; justify-content: space-between; width: 400px;">
    <label for="card-expiry">Expiration date:</label>
    <input type="text"><br>
  </div>

  <div style="display: flex; justify-content: space-between; width: 400px;">
    <label for="card-cvv">CVV:</label>
    <input type="password" id="card-cvv" name="card-cvv" maxlength="3" required><br>
  </div>

  <div style="display: flex; justify-content: center; width: 400px;">
    <input type="submit" value="Buy now">
  </div>
</form>
</body>
</html>