<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/style.css}" type="text/css"/>
</head>
<body>
<section>
    <div class="form-box">
        <form method="post" th:action="@{/login}">
            <h2>Login</h2>
            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" name="customer_email" required>
                <label>Email :</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input style="margin-left: 60px; font-size: 25px;" type="password" name="customer_password" required>
                <label>Password :</label>
            </div>
            <button>Log in</button>
            <br><br>
            <p style="color: darkred" th:if="${error}" th:text="${error}"></p>
            <div class="register">
                <p>Dont have an account <a href="signup.html">Regsiter</a></p>
            </div>
        </form>
    </div>
</section>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>
