<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<section>
    <div style="height: 600px;" class="form-box">
        <form method="post" th:action="@{/signupcustomer}">
            <h2>Signup</h2>
            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input style="margin-left: 65px;" name="customer_first_name" type="text" required>
                <label>First name :</label>
            </div>
            <div class="inputbox">
                <ion-icon name="person-outline"></ion-icon>
                <input style="margin-left: 65px;" type="text" name="customer_last_name" required>
                <label>Last name :</label>
            </div>
                <div class="inputbox">
                    <ion-icon name="person-outline"></ion-icon>
                    <input style="margin-left: 65px; " name="customer_username" type="text" required>
                    <label>Username :</label>
                </div>

            <div class="inputbox">
                <ion-icon name="mail-outline"></ion-icon>
                <input type="email" name="customer_email" required>
                <label>Email :</label>
            </div>
            <div class="inputbox">
                <ion-icon name="lock-closed-outline"></ion-icon>
                <input style="margin-left: 60px; font-size: 25px;" name="customer_password" type="password" required>
                <label>Password :</label>
            </div>
            <button type="submit">Sign up</button>
        </form>
    </div>
</section>
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>